.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
}
#grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#grid img {
    max-width: 120px;
    max-height: 120px;
}